<p>askdsakdhk</p>

<section fxLayout="column">
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Contact">
  </mat-form-field>

  <div>
    <label>CPU: </label>
    <mat-radio-group formControlName="floatLabel">
      <mat-radio-button value="i3">i3</mat-radio-button>
      <mat-radio-button value="i5">i5</mat-radio-button>
      <mat-radio-button value="i7">i7</mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <label>GPU: </label>
    <mat-radio-group formControlName="floatLabel">
      <mat-radio-button value="2080">2080 Ti</mat-radio-button>
      <mat-radio-button value="1080">1080 Ti</mat-radio-button>
      <mat-radio-button value="1070">1070 Ti</mat-radio-button>
    </mat-radio-group>
  </div>

  <div>
    <label>High Battery: </label>
    <mat-radio-group formControlName="floatLabel">
      <mat-radio-button value="yes">Yes</mat-radio-button>
      <mat-radio-button value="no">No</mat-radio-button>
    </mat-radio-group>
  </div>
  <button mat-button (click)="onClick()">Submit</button>
</section>
