<h2 style="text-align: center">Suggested Model</h2>
<img src="../../assets/Laptop.jpg" width="400px" height="400px" class="center">
<figcaption>
  <b>Alienware Gaming AW17R5-7405SLV-PUS 8th Gen Intel Core i7 Processor Laptop, 8GB RAM, 1TB Hard Drive Plus 8GB SSD, NVIDIA GeForce GTX 1060, 17.3" Full HD Display, Epic Silver</b>
</figcaption>
  <a href="https://www.amazon.in/dp/B07QQMS89L/ref=cm_sw_r_wa_apa_i_mYMsDb79QM6PB" target="_blank">Click Here to Buy the Product</a>
<p>This laptop has 2 years of warranty with additional support services</p>
<mat-slide-toggle>If you want to opt for extended warranty</mat-slide-toggle>
<p>According to our system this is the product that best supports your requirements. Additionally we have assigned a Dell Executive to help you with your purchase and attractive offers.</p>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="onClick()">Okay</button>
</div>
