<section fxLayout="column" fxLayoutAlign="center center">
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="1">
    <div class="icon">
    <mat-icon [ngStyle]="{'color':'green'}">mood</mat-icon>
    </div>
    <br>
    Satisfied
  </mat-button-toggle>
  <mat-button-toggle value="0">
    <div class="icon">
    <mat-icon [ngStyle]="{'color':'red'}">mood_bad</mat-icon>
    </div>
    <br>
    Not Satisfied
  </mat-button-toggle>
</mat-button-toggle-group>
<mat-form-field>
  <textarea matInput placeholder="Any Suggestions?(optional)"></textarea>
</mat-form-field>
</section>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Okay</button>
</div>
