@import '~@angular/material/theming';

@include mat-core();

$service-support-primary: mat-palette($mat-light-blue, 500);
$service-support-accent: mat-palette($mat-amber, A700);

$service-support-warn: mat-palette($mat-red);

$service-support-theme: mat-light-theme($service-support-primary, $service-support-accent, $service-support-warn);


@include angular-material-theme($service-support-theme);


