<h2 mat-dialog-title>Current Status: {{batteryAvg}} </h2>
<mat-dialog-content>
<h3>
  <u>Suggestions</u>
  <ol>
    <li>Get a service</li>
    <li>Buy a new battery</li>
    <mat-grid-list cols="2">
      <mat-grid-tile>
          <a href="https://www.dell.com/en-in/work/shop/dell-40-whr-4-cell-primary-lithium-ion-battery/apd/451-11927/pc-accessories" target="_blank">
            <img src="../../assets/Dell40mh.jpg" > <figcaption>Dell 40 WHr 4-Cell Primary Lithium-Ion Battery</figcaption>
          </a>
      </mat-grid-tile>
      <mat-grid-tile>
          <a href="https://www.dell.com/en-in/work/shop/dell-65-whr-6-cell-primary-lithium-ion-battery/apd/451-11965/pc-accessories" target = "_blank">
            <img src="../../assets/Dell65mh.jpg"><figcaption>Dell 65 WHr 6-Cell Primary Lithium-Ion Battery</figcaption>
          </a>
      </mat-grid-tile>
      </mat-grid-list>

<li>Generate ticket <button mat-raised-button color="primary" style="margin-bottom: 1vh;">Generate ticket</button></li>
<li><button mat-raised-button color="white" (click)="service()" style="margin-bottom: 1vh; color: blue">Do you want to buy a Dell suggested product?</button></li>
</ol>
</h3>
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Base Warranty
        </mat-panel-title>
      </mat-expansion-panel-header>
         <ul>
           <li>Duration: 1 year</li>
           <li>Technical support through phone and online- varies</li>
           <li>Hardware repair model varies</li>
         </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Premium Support
          </mat-panel-title>
        </mat-expansion-panel-header>
           <ul>
             <li> Duration: 1 year</li>
             <li>Technical support through phone and online- 24x7</li>
             <li>Hardware repair model - on site</li>
           </ul>
      </mat-expansion-panel>
      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Premium Support Plus
            </mat-panel-title>
          </mat-expansion-panel-header>
             <ul>
               <li>Duration: 2 year</li>
               <li>Technical support through phone and online- 24x7</li>
               <li>Hardware repair model - on site</li>
             </ul>
        </mat-expansion-panel>
  </mat-accordion>

</mat-dialog-content>


<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onClick()">Okay</button>
</div>
